.userProfile-form {
  border-radius: 6px;
  background-color: white;
  padding: 20px;
}

.forms {
  border: 1px solid #ccc !important;
  background-color: #ffffff !important;
  color: black !important;
  border-radius: 6px !important;
}

.UserProfileBtn {
  background-color: rgb(113, 35, 35) !important;
  color: white !important;
  border: 1px solid rgb(94, 31, 31) !important;
}
.UserProfileBtn:hover {
  background-color: rgb(74, 24, 24) !important;
  color: #fff !important;
}

.userCancel {
  display: flex;
  background-color: #fff;
  color: rgb(74, 24, 24) !important;
  align-items: center;
  border: 1px solid rgb(74, 24, 24) !important;
  gap: 5px;
}

.userCancel:hover {
  background-color: rgb(74, 24, 24) !important;
  color: white !important;  
  border: 1px solid #003e52;
}

