.MainDiv {
  background-image: url("../../assets/images/backGrounImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.nextButton {
  width: 100%;
  background-color: #ff5757;
  margin-top: 3rem;
  padding: 10px !important;
  border-radius: 5px;
  font-size: 20px;
  color: #474949 !important;
}

@media (max-width: 568px) {
  .nextButton {
    margin-top: 1rem;
  }
}

.custom-formen .form-control {
  border-radius: 20px !important;
  padding: 10px !important;
  color: white !important;
  background-color: #474949 !important;
  border: #474949 !important;
}

.custom-formen .form-select {
  border-radius: 20px !important;
  padding: 10px !important;
  color: white !important;
  background-color: #474949 !important;
  border: #474949 !important;
}

.custom-formen .SpanRequired {
  color: white !important;
  margin: 0px 5px;
}

.custom-formen .form-label {
  color: white ;
}

.custom-formen span {
  color: #ff5757 !important;
}
.custom-formen label {
  color: #ff5757 !important;
}

.custom-formen input::placeholder {
  color: rgba(255, 255, 255, 0.299) !important;
  opacity: 0.9 !important;
}

.landmark-selector {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #474949;
  border-radius: 50px;
}

.icon-container {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  padding: 5px;
  border-radius: 5px;
}

.icon-container:hover,
.icon-container.selected {
  background-color: #ff5757;
  color: white;
  border-radius: 50px;
  transform: scale(1.1);
}

.icon-container span {
  display: block;
  margin-top: 8px;
}

.image-preview {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-top: 1rem;
}

.images-size {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ff5757;
}

@media (max-width: 567px) {
  .images-size {
    max-height: 50px;
    max-width: 50px;
  }
}

.Image-Input {
  border-radius: 20px !important;
  padding: 10px !important;
  color: white !important;
  background-color: #474949 !important;
  border: #474949 !important;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.TransactionType {
  border-radius: 20px !important;
  padding: 10px !important;
  color: white !important;
  background-color: #474949 !important;
  border: #474949 !important;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 10px;
  cursor: pointer;
}

input[type="checkbox"]:not(.checked) {
  border-color: #ffffff;
  background-color: transparent;
  box-shadow: none;
  height: 20px;
}

input[type="checkbox"]:checked {
  box-shadow: none;
  background-color: #ff5757;
  border: none;
}

.ThankyouServices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.ThankyouServices:hover {
  color: #ff5757;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #ff5757;
  color: #474949;
  padding: 10px;
  border-radius: 5px;
}


[dir="rtl"] .rtl-icon {
  transform: scaleX(-1); 
}


.image-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #c9bdbd;
  color: rgb(11, 7, 7);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 2px;
}

.delete-button:hover{
  background-color: #883030;
  color: #ffffff;
}
